*{
    margin: 0;
    padding: 0;
    list-style: none;   
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

.container{
    margin: 30px auto 0px;
    width: 300px;
    text-align: center;
}
.avatar{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    
    padding: 3.7px;
    border: 4px solid #4263EB;
}
h1{
    margin-top: 15px;
    color: #00082F;
    font-size: 32px;
}
.username{
    margin-bottom: 25px;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    color: #00082F;
    opacity: .8;
}

li ul a .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-right: 7px;

    width: 20px;
    height: 20px;
}


li ul a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;

    margin-top: 10px;
    border-radius: 5px;
    
    background-color: #4263EB;
    color: white;

}

li ul a:hover{
    background-color: #364FC7;
    transition: 400ms;

}

footer{
  margin-top: 25px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #00082F;
  opacity: .6;
}
